/* ========================
   Global & Root Variables
======================== */
* {
  box-sizing: border-box; /* Ensures padding and border are included in total element size */
}

/* ================
   Base Elements
================ */
body{
    font-size: 1rem;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lavender;

}

/* ================
   Header Styling
================ */
.header{
    background-color: white;
    padding: 1rem;
}

.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ================
   Main Content
================ */

/* Filter Navigation */

.filter-nav{
    display: flex;
    flex-direction: row;

}
.filter-heading, .filters{
    margin: 1.25rem 1rem 1.25rem 1rem;
}

.filter-select{
    border-radius: .625rem;
    border-color: lightgrey;
    height: 2rem;
    width: 8rem;

    
}
/* Podcast Card Styling */

.podcast-card{
    background-color: white;
    border-radius: .625rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 15.625rem;
    height: auto;
    padding: 1rem;
    margin: 1rem;
}

.podcast-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 2rem;
  padding: 2rem;
}
